			<hr />

			<div class="info" id="footer">
				<ul class="footer-links">
					<li class="head">JDrama, KDrama, various Asian Drama Videos</li>
					<li><a href="http://blog.dramadownloader.com/how-to-download-from-dramacool-tv/">Download from Dramatv.co</a></li>
					<li><a href="http://blog.dramadownloader.com/how-to-download-www-dramacool-com-videos/">Download from Dramacool.com</a></li>
					<li><a href="http://blog.dramadownloader.com/how-to-download-from-dramafire-com/">Download from DramaFire.com</a></li>
					<li><a href="http://blog.dramadownloader.com/how-to-download-from-dramacool-tv/">Download from Dramacool.tv</a></li>
					<li><a href="http://blog.dramadownloader.com/how-to-download-videos-from-gooddrama/">Download from Gooddrama.net</a></li>
					<li><a href="http://blog.dramadownloader.com/how-to-download-videos-from-dramago-com/">Download from DramaGo.com</a></li>
				</ul>
				<ul class="footer-links">
					<li class="head">Anime Videos</li>
					<li><a href="http://blog.dramadownloader.com/download-anime4you-net-videos/">Download from Animestv.eu</a></li>
				</ul>
				<ul class="footer-links">

				</ul>
			</div>

			<div class="clear"></div>

			<hr />

			<div class="info" id="disclaimer">
				<p>DramaDownloader.com does not host any video files and is not affiliated with any video sharing sites mentioned on this website, and we don't allow you to make any illegal copies of copyrighted content. Please respect content owner's rights while grabbing online videos. If your copyright has been violated please contact the administrator of offending websites where your files are stored.</p>
				<p>We are using cookies to give you the best experience on our site and for analytical purposes. Cookies are files stored in your browser and are used by most websites to help personalise your web experience. By continuing to use our website, you are agreeing to our use of cookies.</p>
			</div>