			<div id="header">
				<h1><a href="." class="logo" title="Download Japanese dramas, Korean dramas, Asian dramas, and Animes from Dramacool, Dramatv, Dramafire, Dramanice, Gooddrama, DramaGalaxy, DramaGo, Animestv easily."></a></h1>
			</div>

			<div class="clear"></div>

			<div id="site-description">
				<h2>Download Japanese dramas, Korean dramas, Asian dramas, and Animes from Dramacool, Dramatv, Dramafire, Dramanice, Gooddrama, DramaGalaxy, DramaGo, Animestv easily.</h2>
			</div>